<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="visualisation-board"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Visualisation Board
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #q (keyup.enter)="makeRequest(q.value)"></ion-searchbar>
</ion-content>

